bin/Debug/net6.0/digital-net.dll
bin/Debug/net6.0/digital-net.pdb
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/digital-net.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/digital-net.dll
obj/Debug/net6.0/digital-net.pdb
obj/Debug/net6.0/ref/digital-net.dll
obj/Debug/net6.0/refint/digital-net.dll
