@{
    ViewData["Title"] = "Digital Net";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please visit us at <a href="https://digitalsprings.co.uk">Digital Springs</a>.</p>
</div>
